page-badge-earn {
    .badge-card{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    h2{
        padding-top: 20px;
        text-align: center;
    }
    .main-view{
        padding-top: 30px;
    }
}
