page-ingredient-game {
    .main-game{
        margin-top: 20%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    img{
        max-width: 250px;
        margin: auto auto;
        padding-top: 5px;
    }

    h2{
        padding-top: 30px;
        text-align: center;
    }

    h3{
        text-align: center;
    }
}
