page-home {
    h2{
        text-align: center;
        padding-top: 30px;
    }

    .login-form{
        max-width: 350px;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    ion-card-title{
        text-align: center;
    }
}
